* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #bc13fe;
    color: #fff;
    height: 40px;
}

header .div {
    margin-top: 7px;
    margin-right: 15px;
    color: white;
    font-size: 20px;
    width: 400px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

header .text {
    display: flex;
    justify-content: space-between;
}

header .text img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .text h1 {
    margin: 0 10px;
    text-transform: capitalize;
    font-family: "Sofia", sans-serif;
}

header .text h2 {
    color: whitesmoke;
}

header .div a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-between;
}

.userData {
    position: relative;
    padding: 25px;
    width: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    /* margin: 15px; */
    overflow: hidden;
    overflow-y: scroll;
    height: 81.5vh;
    background-color: #010b13;
    color: #fff;
}

.userData .img {
    position: relative;
    border: 2px solid #bc13fe;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

.userData .img img {
    width: 100%;
    height: 100%;
}

.userData h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

#name {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Audiowide", sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

.userData span {
    display: flex;
    justify-content: center;
    width: 100%;
}

.userData input {
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid gainsboro;
    background: transparent;
    font-size: 16px;
    width: 95%;
    transition: 0.6s ease;
}

.userData input:focus {
    border-bottom: 2px solid #bc13fe;
}

.userData button {
    background-color: #bc13fe;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s ease;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;

}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #bc13fe;
    border-radius: 20px;
}

.add-blog {
    width: 65%;
    padding: 0 20px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 89vh;
    background-color: #010b13;
    color: #fff;
}

.add-blog h1 {
    margin: 20px;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

span {
    color: #bc13fe;
}

.add-blog input {
    border: 2px solid #fff;
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 97%;
    outline: none;
    font-size: 22px;
}

.add-blog textarea {
    width: 97%;
    height: 200px;
    resize: none;
    outline: none;
    font-size: 20px;
    border: 3px solid #fff;
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
}

.add-blog #add-blog {
    width: 100%;
    margin-left: 0;
}

.add-blog button {
    width: 45%;
    margin: 10px 15px;
    background-color: #bc13fe;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.01);
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(228, 224, 224, 0.5);
}

.blogDiv {
    border: 2px solid #bc13fe;
    margin: 25px;
    border-radius: 30px;
    overflow: hidden;
}

.blogDiv h1 {
    text-transform: uppercase;
    background-color: #bc13fe;
    border-radius: 20px;
    padding: 15px;
    border: 20px;
    color: #fff;
    font-family: "Audiowide", sans-serif;
}

.blogDiv h1 span {
    font-size: 15px;
    color: whitesmoke;
}

.blogDiv strong {
    font-size: 25px;
    text-transform: capitalize;
    font-family: "Sofia", sans-serif;
}

.blogDiv p {
    margin-top: 20px;
    font-style: italic;
    font-weight: 300;
}

.blogDiv #time {
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 32px;
}

.blog {
    padding: 20px;
}

.blog button {
    width: 45%;
    margin: 10px;
    background-color: #bc13fe;
    color: #fff;
}

.blogKey {
    display: none;
}

@media screen and (max-width:880px) {
    .blog button {
        width: 40%;
        margin: 10px;
    }
}

@media screen and (max-width:750px) {
    header {
        width: 100%;
    }

    header .text {
        display: none;
    }

    main {
        display: block;
    }

    .userData {
        width: 99%;
        margin: 0px;
        border-right: 0;
        overflow: visible;
        padding: 15px;
        height: fit-content;
    }

    .add-blog {
        width: 96%;
        margin: 0;
        overflow: visible;
        height: fit-content;
    }

    .add-blog button {
        margin-left: 0;
    }
}

@media screen and (max-width:500px) {
    .add-blog input {
        width: 93%;
    }

    .add-blog textarea {
        width: 93%;
    }
}

@media screen and (max-width:450px) {
    .add-blog button {
        width: 100%;
    }

    .add-blog input {
        width: 93%;
    }

    .add-blog textarea {
        width: 93%;
    }
}

.updateBlogs,
.deleteBlogs {
    border: 2px solid #bc13fe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    background-color: #bc13fe;
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 100;
    transition: 0.5s ease;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    display: none;
}

.updateBlogs.active {
    display: block;
}

.deleteBlogs.active {
    display: block;
}

.updateBlogs h2 {
    margin: 10px;
    text-align: center;
    color: whitesmoke;
}

.updateBlogs input {
    border: 1px solid whitesmoke;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    margin: 10px 0;
}

.updateBlogs textarea {
    width: 400px;
    outline: none;
    resize: none;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.updateBlogs button {
    width: 100%;
    margin: 10px auto;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s ease;
}

.deleteBlogs {
    position: fixed;
    top: 0%;
    left: 50%;
}

.deleteBlogs button {
    padding: 10px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 20px 5px;
    width: 46%;
    transition: 0.3s ease;
}

.deleteBlogs p {
    color: whitesmoke;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    /* z-index: 9999; */
    display: none;
}


.editName,
.editProfile {
    position: absolute;
    top: 45%;
    left: 35%;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    z-index: 100;
    background-color: #bc13fe;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    transition: 0.5s ease;
    display: none;
}

.editProfile {
    position: fixed;
    top: 0;
    left: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    z-index: 100;
    background-color: #bc13fe;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
    transition: 0.5s ease;
    display: none;
}

.editName.active,
.editProfile.active {
    display: block;
}

.editName input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.editProfile input {
    color: #fff;
    border-radius: 20px;
}

.editName button,
.editProfile button {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid whitesmoke;
    margin-left: 10px;
}

.fa-upload {
    color: #bc13fe;
    position: absolute;
    top: 140px;
    right: -10px;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #1c1c1c;
}

@media (max-width: 768px) {
    .updateBlogs {
        max-width: 90%;
        top: 10%;
        transform: translateX(-50%);
    }

    .editProfile-content {
        max-width: 90%;
    }

    .deleteBlogs {
        max-width: 90%;
        top: 10%;
        transform: translateX(-50%);
    }

    .deleteBlogs button {
        width: 100%;
    }

    .updateBlogs input {
        width: 90%;
    }

    .updateBlogs textarea {
        width: 90%;
    }

    .editName,
    .editProfile {
        max-width: 90%;
        top: 10%;
        transform: translateX(-50%);
    }

    .editName button {
        margin-top: 20px;
    }

}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lds-spinner {
    position: absolute;
    top: 45%;
    left: 47%;
    color: official;
    display: inline-block;
    /* position: relative; */
    width: 80px;
    height: 80px;
    z-index: 100;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: slateblue;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}